<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find metacontrol_sim)/yaml/laser_filter_config.yaml" />
    <remap from="scan" to="/front/scan" />
  </node>
  <node pkg="metacontrol_sim" type="safety_distance_publisher.py" name="safety_distance_publisher_node">
    <rosparam command="load" file="$(find metacontrol_sim)/yaml/laser_filter_config.yaml" />
    <remap from="scan" to="/front/scan" />
  </node>
  <!-- 
  <node pkg="metacontrol_sim" type="objective_error_publisher.py" name="objective_error_publisher_node" output="screen">
  </node>
  -->
</launch>
